{% extends 'base.html' %}

{% block title %} Cart |{% endblock title %}

{% block content %}
<div id="cartapp">
    <h1 class="title">Cart</h1>
    {% if cart %}
        <div class="table">
            <table class="table">
                <thead>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </thead>

                <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td>{{ product.title }}</td>
                                <td>
                                    <button style="margin-right: 0.5rem" @click="decrementQuantity()">
                                        <span>➖</span>
                                    </button>
                                        <span>{{ item.quantity }}</span>
                                    <button style="margin-left: 0.5rem" @click="incrementQuantity()">
                                        <span>➕</span>
                                    </button>
                                </td>
                                <td>£{{ item.total_price }}</td>
                                <td><button class="is-danger" @click="removeFromCart({{ product.id }})">Remove from Cart</button></td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                
                </tbody>
            </table>
        </div>
    
    {% else %}
        <p> Your cart is empty </p>
    {% endif %}

    {% for item in cart.products %}
        Test
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}
    <script>
        var productapp = new Vue({
            el: '#cartapp',
            delimiters: ['[[', ']]'],
            data () {
                return {}
            },
            mounted() {
                console.log('Mounted');
            },
            methods: {
                incrementQuantity(product_id, quantity) {
                    console.log('product_id:', product_id);

                       var data = {
                        'product_id': product_id,
                        'update': true,
                        'quantity': parseInt(quantity + 1)
                    };

                    fetch('/api/add_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then((response) => {
                        console.log(response)

                        {% comment %} this.products = this.products.filter(product => product.id !== product_id) {% endcomment %}
                    })
                    .catch(function (error) {
                        console.log('Error 2');
                        console.log(error);
                    })

                },
                removeFromCart(product_id) {
                    console.log('product_id:', product_id);

                    var data = {
                        'product_id': product_id,
                    };

                    fetch('/api/remove_from_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                    .then((response) => {
                        console.log(response)

                        {% comment %} this.products = this.products.filter(product => product.id !== product_id) {% endcomment %}
                    })
                    .catch(function (error) {
                        console.log('Error 2');
                        console.log(error);
                    })
                }
            }
        });
    </script>

{% endblock scripts %}